<form method="post">
    <div class="form-group col-md-offset-7 col-md-7">
        <h2>Search the weather forecast for tallinn</h2>
    </div>
    <br />
    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <button asp-controller="WeatherForecasts" asp-action="ShowWeather" class="btn btn-primary">KLIK HERE</button>
        </div>
    </div>
</form>