@model TARpe21ShopVaitmaa.Models.Spaceship.ImageViewModel

<div class="form-group row col-sm-4 offset-2">
    <div>@Model.ImageTitle</div>
    <div>@Model.ImageId</div>
    <img class="card-img-top" src="@Model.Image" asp-append-version="true"/>
</div>