@model TARpe21ShopVaitmaa.Models.RealEstate.FileToApiViewModel

@{
    var photoPaths = "~/multipleFileUpload/" + (Model.FilePath ?? "noimage.jpg");
}

<div class="form-group row col-sm-4 offset-2">
    <div>@Model.FilePath</div>
    <img class="card-img-top" src="@photoPaths" asp-append-version="true"/>
</div>